In [3]:
import pandas as pd

In [4]:
d = {'1': 5, '2': 11, '3': 14, '4':30, '5':33, '6':38, 'bonus':24}
ser = pd.Series(data=d, index=['1', '2', '3', '4', '5', '6', 'bonus'])
ser

1         5
2        11
3        14
4        30
5        33
6        38
bonus    24
dtype: int64

In [4]:
jumsu = {
'홍길동' : [50,60,50],
'이순신' : [60,60,60],
'강감찬' : [100,90,90],
'유관순' : [80,80,90],
'강환석' : [95,95,95],
}

ser2 = pd.Series(jumsu)
ser2

홍길동     [50, 60, 50]
이순신     [60, 60, 60]
강감찬    [100, 90, 90]
유관순     [80, 80, 90]
강환석     [95, 95, 95]
dtype: object

In [19]:
mean_values = ser2.apply(lambda x: sum(x) / len(x))
mean = mean_values.round(2)
mean

홍길동    53.33
이순신    60.00
강감찬    93.33
유관순    83.33
강환석    95.00
dtype: float64

In [22]:
print(f'-{ser2.index[0]}---{ser2.index[1]}---{ser2.index[2]}---{ser2.index[3]}---{ser2.index[4]}-')
print(f'-{mean[0]}점--{mean[1]}점--{mean[2]}점--{mean[3]}점--{mean[4]}점-')

-홍길동---이순신---강감찬---유관순---강환석-
-53.33점--60.0점--93.33점--83.33점--95.0점-

In [23]:
# Solution 
import numpy as np
import time
from datetime import datetime, date
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
#
jumsu = {
'홍길동' : [50,60,50],
'이순신' : [60,60,60],
'강감찬' : [100,90,90],
'유관순' : [80,80,90],
'강환석' : [95,95,95],
}
s1_jumsu = pd.Series(jumsu)
for i in s1_jumsu.index:
    print('-' + i + '-', end='-')
print()
for i in s1_jumsu.values:
    #print(i)
    #print(type(i))
    print( '-{:.2f}점-'.format( np.mean(i)), end='')  
        # np는 numpy 라이브러리를 말함 np.mean()은 평균 함수임

-홍길동---이순신---강감찬---유관순---강환석--
-53.33점--60.00점--93.33점--83.33점--95.00점-

In [25]:
# 071일차-실습-0-3- Solution
import numpy as np
import pandas as pd 
#
jumsu = {
'홍길동' : [50,60,50],
'이순신' : [60,60,60],
'강감찬' : [100,90,90],
'유관순' : [80,80,90],
'강환석' : [95,95,95],
}
s1_jumsu = pd.Series(jumsu)
for i in s1_jumsu.index:
    print('-' + i + '-', end='-')
print()
for i in s1_jumsu.values:
    print( '-{:.2f}점-'.format( np.max(i)), end='')  # np.max()은 최대값 함수임
print()
for i in s1_jumsu.values:
    print( '-{:.2f}점-'.format( np.min(i)), end='')  # np.min()은 최소값 함수임

-홍길동---이순신---강감찬---유관순---강환석--
-60.00점--60.00점--100.00점--90.00점--95.00점-
-50.00점--60.00점--90.00점--80.00점--95.00점-

In [ ]:
# new problem

In [32]:
jumsu = {
'홍길동' : [50,60,50],
'이순동' : [60,60,60],
'강감동' : [100,90,90],
'유관동' : [80,80,90],
'홍길도' : [50,45,50],
'이순도' : [80,70,66],
'강감도' : [64,49,50],
'유관도' : [60,50,50],
'홍길재' : [50,45,51],
'이순재' : [80,70,61],
'강감재' : [64,49,51],
'유관재' : [60,50,51],
'강환석' : [95,95,95]
}
keys = jumsu.keys()
values = jumsu.values()
print(keys)
print(values)

dict_keys(['홍길동', '이순동', '강감동', '유관동', '홍길도', '이순도', '강감도', '유관도', '홍길재', '이순재', '강감재', '유관재', '강환석'])
dict_values([[50, 60, 50], [60, 60, 60], [100, 90, 90], [80, 80, 90], [50, 45, 50], [80, 70, 66], [64, 49, 50], [60, 50, 50], [50, 45, 51], [80, 70, 61], [64, 49, 51], [60, 50, 51], [95, 95, 95]])

In [33]:
values.mean()

AttributeError: 'dict_values' object has no attribute 'mean'

In [37]:
s1_jumsu = pd.Series(jumsu)
mean_values = s1_jumsu.apply(lambda x: sum(x) / len(x)).round(2)
mean_values

홍길동    53.33
이순동    60.00
강감동    93.33
유관동    83.33
홍길도    48.33
이순도    72.00
강감도    54.33
유관도    53.33
홍길재    48.67
이순재    70.33
강감재    54.67
유관재    53.67
강환석    95.00
dtype: float64

53.33
48.33
54.33
53.33
48.67
54.67
53.67

In [52]:
for i in range(len(s1_jumsu)):
    print(i)
    print(s1_jumsu.keys()[i])
    print(s1_jumsu[i])
    print('------------')

0
홍길동
[50, 60, 50]
------------
1
이순동
[60, 60, 60]
------------
2
강감동
[100, 90, 90]
------------
3
유관동
[80, 80, 90]
------------
4
홍길도
[50, 45, 50]
------------
5
이순도
[80, 70, 66]
------------
6
강감도
[64, 49, 50]
------------
7
유관도
[60, 50, 50]
------------
8
홍길재
[50, 45, 51]
------------
9
이순재
[80, 70, 61]
------------
10
강감재
[64, 49, 51]
------------
11
유관재
[60, 50, 51]
------------
12
강환석
[95, 95, 95]
------------

In [75]:
name_lis = []
values_lis = []
for i in range(len(s1_jumsu)):
    mean_values = s1_jumsu.apply(lambda x: sum(x) / len(x)).round(2)

    if mean_values[i] < 60:
        print(i)
        print(mean_values[i])
        print(s1_jumsu.index[i])
        name_lis.append(s1_jumsu.index[i])
        values_lis.append(mean_values[i])
    else:
        pass

0
53.33
홍길동
4
48.33
홍길도
6
54.33
강감도
7
53.33
유관도
8
48.67
홍길재
10
54.67
강감재
11
53.67
유관재

In [76]:
print(name_lis)
print(values_lis)

['홍길동', '홍길도', '강감도', '유관도', '홍길재', '강감재', '유관재']
[53.33, 48.33, 54.33, 53.33, 48.67, 54.67, 53.67]

In [79]:
for i in name_lis:
    print('-' + i + '-', end='-')
print()
for i in values_lis:

    print( '-{:.2f}점-'.format( np.mean(i)), end='')

-홍길동---홍길도---강감도---유관도---홍길재---강감재---유관재--
-53.33점--48.33점--54.33점--53.33점--48.67점--54.67점--53.67점-

In [80]:
# 실습-0-4- Solution
import numpy as np
import pandas as pd 
#
jumsu = {'홍길동' : [50,60,50],'이순동' : [60,60,60],'강감동' : [100,90,90],'유관동' : [80,80,90],
'홍길도' : [50,45,50],'이순도' : [80,70,66],'강감도' : [64,49,50],'유관도' : [60,50,50],'홍길재' : [50,45,51],
'이순재' : [80,70,61],'강감재' : [64,49,51],'유관재' : [60,50,51],'강환석' : [95,95,95]}
# 딕셔너리의 요소중에 평균 점수가 60점 미만인 것만 필터링 하는 루틴
jumsu2 = dict(  {   key : round(np.mean(value),2)   for key, value  in jumsu.items() if np.mean(value)<60  } )
                                                                     # jumsu 딕셔너리의 밸류 중에서 평균이 60 미만인 것만 
                                                                     # 뽑아낸 쌍을 items() 튜플에 할당하고 튜플의 요소를 
                                                                     # unpacking하여 key, value 라는 변수에 할당하는 for문 
                                                                     # items() 함수는 Key와 Value의 쌍을 튜플로 묶은 값을 dict_items  
                                                                     # 객체로반환함. 이 구절에서는 튜플로 묶은 dict_items 객체를 
                                                                     # in 연산자 왼쪽의  key, value에 unpacking하였다
                           # for 문으로 발생한 key, value를 
                           # 각각 key와 round(np.mean(value),2)의 쌍으로 구성하고 이것을
                # dict() 형변환 함수로 변환하여 jumsu2 딕셔너리로 생성한다.
#
#print(type(jumsu2)) # 서비스 코드임
#print(jumsu2)       # 서비스 코드임
#
jumsu3 = pd.Series(jumsu2)
for i in jumsu3.index:
    print(i, end="-")
print()
for i in jumsu3:
    print(i, end="--")
print()

홍길동-홍길도-강감도-유관도-홍길재-강감재-유관재-
53.33--48.33--54.33--53.33--48.67--54.67--53.67--