In [1]:
import sqlite3

In [2]:
print(sqlite3.sqlite_version_info)

(3, 33, 0)

In [39]:
conn = sqlite3.connect("./sqlite_db")
cursor = conn.cursor()
sql = 'drop table test_table'
cursor.execute(sql)

--1 --

In [41]:
try:
    conn = sqlite3.connect("./sqlite_db")
    cursor = conn.cursor()
    sql = 'create table if not exists test_table(name text(10), phone text(15), addr text(50))'
    cursor.execute(sql)
  
    cursor.execute("insert into test_table values('홍길동', '010-1111-1111', '서울시')")
    cursor.execute("insert into test_table values('이순신', '010-2222-2222', '해남시')")
    cursor.execute("insert into test_table values('강감찬', '010-1111-1111', '평양시')")
    conn.commit()
 
    cursor.execute("select * from test_table")
    rows = cursor.fetchall()
    

    for row in rows :
        print(row)
    
    print('이름 \t전화번호   \t주소')
    for row in rows:
        print(row[0], '\t', row[1], '\t', row[2])

except Exception as e :
    print('db 연동 실패 : ', e)
    conn.rollback()

finally:
    cursor.close()
    conn.close()

--1 --
--2 --
--3 --
('홍길동', '010-1111-1111', '서울시')
('이순신', '010-2222-2222', '해남시')
('강감찬', '010-1111-1111', '평양시')
('홍길동', '010-1111-1111', '서울시')
('이순신', '010-2222-2222', '해남시')
('강감찬', '010-1111-1111', '평양시')
이름 	전화번호   	주소
홍길동 	 010-1111-1111 	 서울시
이순신 	 010-2222-2222 	 해남시
강감찬 	 010-1111-1111 	 평양시
홍길동 	 010-1111-1111 	 서울시
이순신 	 010-2222-2222 	 해남시
강감찬 	 010-1111-1111 	 평양시

In [31]:
try:
    conn = sqlite3.connect("./sqlite_db")
    cursor = conn.cursor()
    sql = """create table if not exists goods(
    code integer primary key,
    name text(30) unique not null,
    su integer default 0,
    dan real default 0.0
    )"""
    cursor.execute(sql)
    
#     cursor.execute("insert into goods values(1, '냉장고', 2, 8500000)")
#     cursor.execute("insert into goods values(2, '세탁기', 3, 5500000)")
#     cursor.execute("insert into goods(code, name) values(3, '전자레인지')")
#     cursor.execute("insert into goods(code, name, dan) values(4, 'HDTV', 15000000)")
#     conn.commit()
    
    sql = "select * from goods"
    cursor.execute(sql)
    rows = cursor.fetchall()
    
    for row in rows:
        print(row[0], row[1], row[2], row[3])
        
    print('검색된 레코드 수 : ', len(rows))

    name = input("상품명 입력 : ")
    sql = f"select * from goods where name like '%{name}%'"
    cursor.execute(sql)
    rows = cursor.fetchall()

    if rows :
        for row in rows:
            print(row)
    else:
        print('검색된 레코드 없음')

except Exception as e :
    print('db 연동 error :', e)
    conn.rollback()

finally:
    cursor.close()
    conn.close()

1 냉장고 2 8500000.0
2 세탁기 3 8500000.0
3 전자레인지 0 0.0
4 HDTV 0 15000000.0
123 123 123 123.0
검색된 레코드 수 :  5
상품명 입력 : 냉장고
(1, '냉장고', 2, 8500000.0)

In [23]:
try:
    conn = sqlite3.connect("./sqlite_db")
    cursor = conn.cursor()
    sql = """create table if not exists goods(
    code integer primary key,
    name text(30) unique not null,
    su integer default 0,
    dan real default 0.0
    )"""
    cursor.execute(sql)
    
    cursor.execute("insert into goods values(1, '냉장고', 2, 8500000)")
    cursor.execute("insert into goods values(2, '세탁기', 3, 8500000)")
    cursor.execute("insert into goods(code, name) values(3, '전자레인지')")
    cursor.execute("insert into goods(code, name, dan) values(4, 'HDTV', 15000000)")
    conn.commit()
    
    code = int(input('code 입력 : '))
    name = input('name 입력 : ') 
    su = int(input('su 입력 : '))
    dan = int(input('dan 입력 : '))
    sql = f"insert into goods values({code}, '{name}', {su}, {dan})"
    cursor.execute(sql)
    conn.commit()
    
    '''
    code = int(input('수정 code 입력 : '))
    su = int(input('수정 su 입력 : '))
    dan = int(input('수정 dan 입력 : '))
    
    sql = f"update goods set su = {su}, dan={dan} where code = {code}"
    cursor.execute(sql)
    conn.commit()
    '''
    
    sql = "select * from goods"
    cursor.execute(sql)
    rows = cursor.fetchall()
    
    for row in rows :
        print(row[0], row[1], row[2], row[3])
    print('검색된 레코드 수 : ', len(rows))
    
    name = input("상품명 입력 : ")
    sql = f"select * from goods where name like '%{name}'"
    cursor.execute(sql)
    rows = cursor.fetchall()
    
    if rows :
        for row in rows :
            print(row)
    else :
        print('검색된 레코드 없음')
    
except Exception as e :
    print('db 연동 error :', e)
    conn.rollback()

finally:
    cursor.close()
    conn.close()

code 입력 : 123
name 입력 : 123
su 입력 : 123
dan 입력 : 123
1 냉장고 2 8500000.0
2 세탁기 3 8500000.0
3 전자레인지 0 0.0
4 HDTV 0 15000000.0
123 123 123 123.0
검색된 레코드 수 :  5
상품명 입력 : 123
(123, '123', 123, 123.0)