In [4]:
import sqlite3

In [5]:
print(sqlite3.sqlite_version_info)

(3, 33, 0)

In [13]:
conn = sqlite3.connect("./data/sqlite_db.db")
cursor = conn.cursor()
sql = 'drop table course'
cursor.execute(sql)

In [6]:
try:
    conn = sqlite3.connect("./data/sqlite_db.db")
    cursor = conn.cursor()
    sql = 'create table if not exists stud(studID text(8), name text(20), jumin1 text(6), jumin2 text(7), addr1 text(20), addr2 text(20))'
    cursor.execute(sql)
  
    cursor.execute("insert into stud values('20180101', '홍길동', '200229', '3234567', '서울시', '서대1구')")
    cursor.execute("insert into stud values('20180102', '이순신', '720229', '1234567',  '수원시', '서대2구')")
    cursor.execute("insert into stud values('20180103', '강감찬', '781212', '1328399', '강릉시', '서대3구')")
    cursor.execute("insert into stud values('20190101', '이성계', '790307', '2262722', '부산시', '서대4구')")
    cursor.execute("insert into stud values('20190102', '을지문덕', '780618', '2258211', '대구시', '서대5구')")
    cursor.execute("insert into stud values('20190103', '연개소문', '771009', '2215327', '울산시', '서대6구')")
    cursor.execute("insert into stud values('20190104', '안중근', '780209', '1573216', '이천시', '서대7구')")
    cursor.execute("insert into stud values('20200101', '김구', '770515', '2024213', '동두천시', '서대8구')")
    cursor.execute("insert into stud values('20200102', '정도전', '800613', '1078166', '대전시', '서대9구')")
    cursor.execute("insert into stud values('20200103', '이황', '720711', '2024219', '세종시', '서대10구')")   
    conn.commit()
 
    cursor.execute("select * from stud")
    rows = cursor.fetchall()
    

    for row in rows :
        print(row)
    
    # # print('이름 \t전화번호   \t주소')
    # for row in rows:
    #     print(row[0], '\t', row[1], '\t', row[2])

except Exception as e :
    print('db 연동 실패 : ', e)
    conn.rollback()

finally:
    cursor.close()
    conn.close()

('20180101', '홍길동', '200229', '3234567', '서울시', '서대1구')
('20180102', '이순신', '720229', '1234567', '수원시', '서대2구')
('20180103', '강감찬', '781212', '1328399', '강릉시', '서대3구')
('20190101', '이성계', '790307', '2262722', '부산시', '서대4구')
('20190102', '을지문덕', '780618', '2258211', '대구시', '서대5구')
('20190103', '연개소문', '771009', '2215327', '울산시', '서대6구')
('20190104', '안중근', '780209', '1573216', '이천시', '서대7구')
('20200101', '김구', '770515', '2024213', '동두천시', '서대8구')
('20200102', '정도전', '800613', '1078166', '대전시', '서대9구')
('20200103', '이황', '720711', '2024219', '세종시', '서대10구')

In [14]:
try:
    conn = sqlite3.connect("./data/sqlite_db.db")
    cursor = conn.cursor()
    sql = 'create table if not exists course(courseID text(02), CourseName text(10))'
    cursor.execute(sql)
  
    cursor.execute("insert into course values('01', '국어')")
    cursor.execute("insert into course values('02', '영어')")
    cursor.execute("insert into course values('03', '수학')")
    conn.commit()
 
    cursor.execute("select * from course")
    rows = cursor.fetchall()
    

    for row in rows :
        print(row)
    
    # # print('이름 \t전화번호   \t주소')
    # for row in rows:
    #     print(row[0], '\t', row[1], '\t', row[2])

except Exception as e :
    print('db 연동 실패 : ', e)
    conn.rollback()

finally:
    cursor.close()
    conn.close()

('01', '국어')
('02', '영어')
('03', '수학')

In [15]:
try:
    conn = sqlite3.connect("./data/sqlite_db.db")
    cursor = conn.cursor()
    sql = 'create table if not exists score(studID text(08), CourseID text(02), score integer(03))'
    cursor.execute(sql)
  
    cursor.execute("insert into score values('01', '국어')")
    cursor.execute("insert into course values('02', '영어')")
    cursor.execute("insert into course values('03', '수학')")
    conn.commit()
 
    cursor.execute("select * from score")
    rows = cursor.fetchall()
    

    for row in rows :
        print(row)
    
    # # print('이름 \t전화번호   \t주소')
    # for row in rows:
    #     print(row[0], '\t', row[1], '\t', row[2])

except Exception as e :
    print('db 연동 실패 : ', e)
    conn.rollback()

finally:
    cursor.close()
    conn.close()

('01', '국어')
('02', '영어')
('03', '수학')
('01', '국어')
('02', '영어')
('03', '수학')