In [30]:
import pandas as pd

In [31]:
train = pd.read_csv('https://bit.ly/fc-ml-titanic')

Random state

stratify

impute

In [32]:
from sklearn.impute import SimpleImputer

In [33]:
imputer = SimpleImputer(strategy = "mean")

In [34]:
# fit()을 통해 결측치에 대한 학습을 진행
imputer.fit(train[['Age', 'Pclass']])

SimpleImputer()

In [35]:
# transform()은 실제 결측치에 대한 처리를 해주는 함수
result = imputer.transform(train[['Age','Pclass']])

In [36]:
result

array([[22.        ,  3.        ],
       [38.        ,  1.        ],
       [26.        ,  3.        ],
       ...,
       [29.69911765,  3.        ],
       [26.        ,  1.        ],
       [32.        ,  3.        ]])

LabelEncoder

In [37]:
train['Sex']

0        male
1      female
2      female
3      female
4        male
        ...
886      male
887    female
888    female
889      male
890      male
Name: Sex, Length: 891, dtype: object

In [38]:
from sklearn.preprocessing import LabelEncoder

In [39]:
le = LabelEncoder()

In [40]:
train['Sex_num'] = le.fit_transform(train['Sex'])
train['Sex_num']

0      1
1      0
2      0
3      0
4      1
      ..
886    1
887    0
888    0
889    1
890    1
Name: Sex_num, Length: 891, dtype: int64

In [41]:
train['Sex_num'].value_counts()

1    577
0    314
Name: Sex_num, dtype: int64

In [42]:
le.classes_

array(['female', 'male'], dtype=object)

In [43]:
le.inverse_transform([0,1,1,0,0,1,1])

array(['female', 'male', 'male', 'female', 'female', 'male', 'male'],
      dtype=object)

In [44]:
# le.fit_transform(train['Sex_num'])

In [45]:
train['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [46]:
le.fit_transform(train['Embarked'])

array([2, 0, 2, 2, 2, 1, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 1, 2, 2, 0, 2, 2,
       1, 2, 2, 2, 0, 2, 1, 2, 0, 0, 1, 2, 0, 2, 0, 2, 2, 0, 2, 2, 0, 0,
       1, 2, 1, 1, 0, 2, 2, 2, 0, 2, 0, 2, 2, 0, 2, 2, 0, 3, 2, 2, 0, 0,
       2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1,
       2, 0, 2, 2, 0, 2, 1, 2, 0, 2, 2, 2, 0, 2, 2, 0, 1, 2, 0, 2, 0, 2,
       2, 2, 2, 0, 2, 2, 2, 0, 0, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 0, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 0, 2,
       2, 0, 2, 2, 2, 0, 2, 2, 2, 2, 1, 2, 1, 2, 2, 2, 2, 2, 0, 0, 1, 2,
       1, 2, 2, 2, 2, 0, 2, 2, 2, 0, 1, 0, 2, 2, 2, 2, 1, 0, 2, 2, 0, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 1,
       2, 2, 0, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 2, 0, 2, 1, 2, 2, 2,
       1, 2, 2, 2, 2, 2, 2, 2, 2, 0, 1, 2, 2, 2, 1, 2, 1, 2, 2, 2, 2, 0,
       2, 2, 2, 1, 2, 0, 0, 2, 2, 0, 0, 2, 2, 0, 1, 1, 2, 1, 2, 2, 0, 0,
       0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 1, 2, 2, 0, 2, 2, 2, 0,
       1, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       0, 2, 0, 2, 2, 2, 1, 1, 2, 0, 0, 2, 1, 2, 0, 0, 1, 0, 0, 2, 2, 0,
       2, 0, 2, 0, 0, 2, 0, 0, 2, 2, 2, 2, 2, 2, 1, 0, 2, 2, 2, 0, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 2, 2, 2, 2, 2,
       2, 2, 0, 1, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 0, 0, 2, 0, 2, 2, 2, 1, 2, 2,
       2, 2, 2, 2, 2, 2, 1, 0, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       0, 2, 2, 0, 2, 2, 2, 2, 2, 0, 2, 0, 0, 2, 2, 2, 2, 1, 1, 2, 2, 0,
       2, 2, 2, 2, 1, 2, 2, 0, 2, 2, 2, 1, 2, 2, 2, 2, 0, 0, 0, 1, 2, 2,
       2, 2, 2, 0, 0, 0, 2, 2, 2, 0, 2, 0, 2, 2, 2, 2, 0, 2, 2, 0, 2, 2,
       0, 2, 1, 0, 2, 2, 0, 0, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2,
       2, 1, 2, 2, 2, 2, 0, 2, 2, 0, 2, 0, 0, 2, 2, 0, 2, 2, 2, 0, 2, 1,
       2, 2, 2, 2, 0, 0, 2, 2, 2, 2, 0, 2, 2, 2, 0, 2, 2, 2, 1, 1, 2, 2,
       2, 2, 2, 2, 0, 2, 0, 2, 2, 2, 1, 2, 2, 1, 2, 2, 0, 2, 2, 2, 2, 2,
       2, 2, 2, 0, 2, 2, 0, 0, 2, 0, 2, 2, 2, 2, 2, 1, 1, 2, 2, 1, 2, 0,
       2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 1, 0,
       2, 2, 2, 0, 2, 2, 2, 2, 2, 0, 2, 0, 2, 2, 2, 1, 0, 2, 0, 2, 0, 1,
       2, 2, 2, 2, 2, 0, 0, 2, 2, 2, 2, 2, 0, 2, 1, 2, 2, 2, 2, 2, 2, 2,
       2, 1, 2, 2, 2, 0, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2,
       2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 0, 1, 1, 2,
       2, 2, 2, 0, 2, 2, 1, 2, 1, 2, 0, 2, 2, 2, 2, 2, 2, 1, 2, 0, 1, 2,
       2, 0, 2, 2, 2, 2, 0, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 1, 2, 0, 1, 3, 0, 2, 0, 2, 2, 0,
       2, 2, 2, 0, 2, 2, 0, 0, 2, 2, 2, 0, 2, 0, 2, 2, 0, 2, 2, 2, 2, 2,
       0, 0, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 0, 0, 2, 2, 2, 0,
       2, 2, 2, 2, 2, 1, 2, 2, 2, 0, 1])

One-hot encoding

In [47]:
train = pd.read_csv('https://bit.ly/fc-ml-titanic')
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [48]:
train['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [49]:
from sklearn.preprocessing import LabelEncoder
train['Embarked_num'] = LabelEncoder().fit_transform(train['Embarked'])

In [50]:
train['Embarked_num'].value_counts()

2    644
0    168
1     77
3      2
Name: Embarked_num, dtype: int64

In [51]:
train['Embarked_num'][:6]   # label 0, 1, 2

0    2
1    0
2    2
3    2
4    2
5    1
Name: Embarked_num, dtype: int64

In [52]:
pd.get_dummies(train['Embarked_num'])[:6]

   0  1  2  3
0  0  0  1  0
1  1  0  0  0
2  0  0  1  0
3  0  0  1  0
4  0  0  1  0
5  0  1  0  0

Normalize

* column 간에 다른 min, max 값을 가지고 있는 경우, 정규화를 통해 최소치/최대값의 척도를 맞춰주는 것
* 네이버 영화평점(0점 ~ 10점)
* 넷플릭스 영화평점(0점 ~ 5점)

In [53]:
movie = {'naver':[2, 4, 6, 8, 10], 'netflix':[1, 2, 3, 4, 5]}

In [54]:
import pandas as pd
movie = pd.DataFrame(data=movie)
movie

   naver  netflix
0      2        1
1      4        2
2      6        3
3      8        4
4     10        5

In [55]:
from sklearn.preprocessing import MinMaxScaler

In [56]:
min_max_scaler = MinMaxScaler()

In [57]:
min_max_movie = min_max_scaler.fit_transform(movie)

In [58]:
pd.DataFrame(min_max_movie, columns=['naver', 'netflix'])

   naver  netflix
0   0.00     0.00
1   0.25     0.25
2   0.50     0.50
3   0.75     0.75
4   1.00     1.00

✔ 표준화(standardization)
* 각 observation이 평균을 기준으로 어느 정도 떨어져 있는지를 나타내는 것
* 값의 스케일이 다른 두 개의 변수가 있을 때 변수들의 스케일 차이를 제거해주는 효과
* 값의 범위(scale)를 평균 0, 분산 1이 되도록 변환

<참고>

✔ cf. 정규화
* 값의 범위(scale)를 0~1 사이의 값으로 바꾸는 것

-

✔ cf. Regularization
* weight를 조정하는데 규제(제약)를 거는 기법
* Overfitting을 막기위해 사용함
* L1 regularization, L2 regularizaion 등의 종류가 있음
*  L1: LASSO(라쏘), 마름모
*  L2: Lidge(릿지), 원

# **1. 표준편차**

* 자료의 산포도를 나타내는 수치로, 분산의 양의 제곱근으로 정의
* 표준편차가 작을수록 평균값에서 변량들의 거리가 가까움

$$\sqrt{\frac{\sum_{k=1}^N (x_i - \bar{x})^2}{n}}$$

In [63]:
# 표준편차를 계산할 데이터의 개수를 입력하고 입력받은 개수만큼 데이터를 입력
n = int(input('표준편차를 계산할 데이터의 개수를 입력하세요'))
score = [0 for i in range(n)]
print(score)

for i in range(n):
  data = int(input('{}번째 데이터'.format(i+1)))
  score[i] = data

print(score)

표준편차를 계산할 데이터의 개수를 입력하세요5
[0, 0, 0, 0, 0]
1번째 데이터50
2번째 데이터80
3번째 데이터100
4번째 데이터40
5번째 데이터70
[50, 80, 100, 40, 70]

In [65]:
# 최대값과 최소값을 구함
for i in range(len(score)-1):
  for j in range(i+1, len(score)):
    if score[i] > score[j]:
      score[i], score[j] = score[j], score[i]

print(score)  # 최소값이 맨앞으로, 최대값이 맨뒤로 옮겨짐
print(f"최소값 : {score[0]}, 최대값 : {score[len(score)-1]}")

[40, 50, 70, 80, 100]
최소값 : 40, 최대값 : 100

In [66]:
# 최대값과 최소값을 제외한 나머지 데이터의 평균을 계산
total = 0
for i in range(1, len(score)-1):
  total += score[i]

mean = total / (n-2)
print(mean)

66.66666666666667

In [67]:
# ∑Nk=1(xi−x¯)2 (분산)
total = 0.0
for i in range(1, len(score)-1):
  total += (score[i] - mean) ** 2
var = total / (n-2)
print(var)

import math
std = math.sqrt(var)
print(std)

155.55555555555557
12.472191289246473