In [7]:
import sqlite3

In [8]:
print(sqlite3.sqlite_version_info)

(3, 33, 0)

In [18]:
# conn = sqlite3.connect("./data/sqlite2.db")
# cursor = conn.cursor()
# sql = 'drop table item'
# cursor.execute(sql)

In [19]:
try:
    conn = sqlite3.connect("./data/sqlite2.db")
    cursor = conn.cursor()
    sql = 'create table if not exists item(code integer, name text(30), qty integer default 0, unit_price real default 0.0)'
    cursor.execute(sql)
  
    cursor.execute("insert into item values('1', '선풍기', '1', '150')")
    cursor.execute("insert into item values('2', '에어콘', '1', '200')")
    cursor.execute("insert into item values('3', '충전기', '1', '100')")
    cursor.execute("insert into item values('4', '키보드', '1', '70')")
    cursor.execute("insert into item values('5', '마우스', '1', '60')")
    conn.commit()
 
    cursor.execute("select * from item")
    rows = cursor.fetchall()
    

    for row in rows :
        print(row)
    
    code = input("코드값을 입력하세요 : ")
    sql = f"select * from item where code like '%{code}'"
    cursor.execute(sql)
    rows = cursor.fetchall()
    
    if rows :
        for row in rows :
            print('조회결과는 코드 :', row[0], '제품명 :', row[1],
                  '수량 :', row[2], '단가 :', row[3])
    else :
        print('검색된 레코드 없음') 
    
except Exception as e :
    print('db 연동 실패 : ', e)
    conn.rollback()

finally:
    cursor.close()
    conn.close()

(1, '선풍기', 1, 150.0)
(2, '에어콘', 1, 200.0)
(3, '충전기', 1, 100.0)
(4, '키보드', 1, 70.0)
(5, '마우스', 1, 60.0)
조회결과는 코드 : 1 제품명 : 선풍기 수량 : 1 단가 : 150.0